<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317453459958-d0fr1gl880gq14pv9c95g3eg6gfa72mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317453459958-d0fr1gl880gq14pv9c95g3eg6gfa72mg</string>
	<key>API_KEY</key>
	<string>AIzaSyDcUzH8moEBkJEklUBjxBj0yhdyJGMSuvo</string>
	<key>GCM_SENDER_ID</key>
	<string>317453459958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaycev.vidstagram</string>
	<key>PROJECT_ID</key>
	<string>vidstagram-test</string>
	<key>STORAGE_BUCKET</key>
	<string>vidstagram-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317453459958:ios:60a230dab10558255e27d7</string>
</dict>
</plist>